body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

.photo img {
    border-radius: 50%;
    width: 200px; /* Fixed width */
    height: 200px; /* Fixed height */
    object-fit: cover;
}

.about-artist {
    margin-top: 20px;
}

.about-artist h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.about-artist p {
    font-size: 1.2em;
    margin: 0 20px;
}

.latest-releases {
    margin-top: 20px;
}

.latest-releases h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.release {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.release img {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.release p {
    font-size: 1.2em;
}

.release a {
    color: #1DB954;
    text-decoration: none;
}

.contact-info {
    margin-top: 20px;
}

.contact-info a {
    color: #1DB954;
    text-decoration: none;
    font-size: 1.2em;
}
